
section > h2 {
    text-decoration: underline;
}


article img {
    border: 3px double #6c757d; 
    padding: 2px;
}


figure {
    text-align: center;        
}

figure figcaption {
    color: #6c757d;             
    font-style: italic;
}

.footer-custom {
    border-top: 1px solid #6c757d;
    text-align: center;
    font-style: italic;
    font-size: 0.9rem;          
    padding-top: 0.75rem;
    margin-top: 2rem;
}

.navbar-brand img {
    height: 40px;
    width: auto;
}

.img-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 100%;
    background: rgba(12, 211, 229, 0.9);
    padding: 5px;
    z-index: 1000;
    cursor: pointer;
}
